{
  "env": {
    "node": true,
    "browser": true,
    "es2021": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/essential",
    "plugin:vue/essential"
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "parser": "@typescript-eslint/parser",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["vue", "@typescript-eslint"],
  "rules": {
    "quotes": ["warn", "single"],
    "no-undef": "error"
  }
}
